# Supercharge Your Excel Data Cleaning with Python!

This notebook explores how to use python in conjunction with Excel to carry out basic cleaning activities.  
The supporting article for this notebook can be found here: [Supercharge Your Excel Data Cleaning with Python!
](www.bbc.co.uk)

In [1]:
# Import packages required
import pandas as pd

## Cleaning The Order Data

This is a hypothetical example and data has been fabricated to help us understand how to approach cleansing tasks.  

We wish to understand the total volume and value of orders by customer and have copied our recent order data in to Excel from our system.
We can see that we have a clean volume of orders, however the unit value has not copied in correctly.  We will use python to cleanse this issue and return a clean numerical value back to Excel to enable the requested analysis to be completed.

We will follow the three step process set out in the supporting article to cary out this data cleanse:

1.	Import data to python from Excel.
2.	Cary out cleaning tasks in python.
3.	Export data from python back to Excel.

### Step 1: Import Data to Python From Excel

This uses the pandas ```read_excel``` function.  The ```sheet_name``` variable is optional in this function, however it is recommended you assign a sheet to limit issues when importing data from files with multiple sheets.

Your import file will need to be closed when you run this code and by importing this from a file into python, you maintain a copy of the original data in the Excel file.

In [2]:
# Import messy data from Excel and assign to the mesy_data variabe as a data frame
messy_data = pd.read_excel('messy_order_data.xlsx', sheet_name='Sheet1')

In [3]:
# Display head of messy_ data on screen
messy_data.head()

  Order Number    Customer  Units Ordered Price Per Unit
0     ORDER-01  CUSTOMER-2            149      £---1,054
1     ORDER-02  CUSTOMER-2            146      £---1,629
2     ORDER-03  CUSTOMER-3            103      £---1,606
3     ORDER-04  CUSTOMER-4            115      £---1,201
4     ORDER-05  CUSTOMER-2            150      £---1,434

### Step 2: Cary Out Cleaning Tasks in Python.

Looking at the data we can see that there are three cleansing tasks we need to complete

1.	Remove the ‘,’ from the Price Per Unit values
2.	Remove the ‘£---’ from the Price Per unit Values
3.	Ensure the Values are numerical (not text)

The latter may not be obvious; however we can see by exploring the data type of the Price Per Unit variable (a pandas data series) after steps 1 and 2, we can see it is an object.  This will be treated as text when re export the data to Excel.


To find and replace characters within the string values of a pandas data series, we use the ```str.replace()``` function.  [Function documentation can be found here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)

In [4]:
# Cleaning step 1: Remove ',' from the values and replace with ''
messy_data['Price Per Unit'] = messy_data['Price Per Unit'].str.replace(',','')

# Display head of messy_ data on screen
messy_data.head()

  Order Number    Customer  Units Ordered Price Per Unit
0     ORDER-01  CUSTOMER-2            149       £---1054
1     ORDER-02  CUSTOMER-2            146       £---1629
2     ORDER-03  CUSTOMER-3            103       £---1606
3     ORDER-04  CUSTOMER-4            115       £---1201
4     ORDER-05  CUSTOMER-2            150       £---1434

In [5]:
# Cleaning Step 2: Remove '£---' from the values and replace with ''
messy_data['Price Per Unit'] = messy_data['Price Per Unit'].str.replace('£---','')

# Display head of messy_ data on screen
messy_data.head()

  Order Number    Customer  Units Ordered Price Per Unit
0     ORDER-01  CUSTOMER-2            149           1054
1     ORDER-02  CUSTOMER-2            146           1629
2     ORDER-03  CUSTOMER-3            103           1606
3     ORDER-04  CUSTOMER-4            115           1201
4     ORDER-05  CUSTOMER-2            150           1434

If we look at the data type (dtype) of the Price Per Unit variable, we can see that it is an object.  To change this to a numerical value, we can use the ```astype()``` function.  As unit price can contain a decimal place, we will change this to a float. [Function documentation can be found here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)


The process of changing a variable type is called coercion.  This can result in errors if Python does not know how to manage a value with the new data type.  This example has been constructed to not have any coercion errors.  However, you should check to confirm that this is the case when changing variable types.

In [6]:
# Print dtype of Price Per Unit
print('Data type of Price Per Unit (pre coercion):\t',messy_data['Price Per Unit'].dtype)

# Cleaning Step 3: Coerce Price Per Unit to be a float 
messy_data['Price Per Unit'] = messy_data['Price Per Unit'].astype(float)

# Print dtype of Price Per Unit
print('Data type of Price Per Unit (post coercion):\t',messy_data['Price Per Unit'].dtype)

Data type of Price Per Unit (pre coercion):	 object
Data type of Price Per Unit (post coercion):	 float64

### Step 3: Export Data From Python Back to Excel.

To export data back to excel, we use the ```to_excel()``` function. [Function documentation can be found here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)  By exporting the data back to excel with a new file name, we do not over write the original data.

In [7]:
# Export data back to excel (index = False ensures the pandas indicies are not exported to excel)
messy_data.to_excel('clean_order_data.xlsx',index=False)

## A More Pythonic Way To Implement The Code

In the example above, we have implemented each cleaning step in a line of code.  It is worth noting that this cleansing activity can be collapsed into a single line of code with minimal function calls.  This would be considered a more pythonic way of implementing the code.  This process also uses Regular Expressions (REGEX) something we will cover in articles later in this series.  

This example is included for information at this stage

In [8]:
# Import messy data from Excel and assign to the mesy_data variabe as a data frame
messy_data_pythonic = pd.read_excel('messy_order_data.xlsx', sheet_name='Sheet1')

# Implement cleaning activity in a single line of code (note \ indicates a split of a single line on to multiple lines in the editor)
messy_data_pythonic['Price Per Unit'] = messy_data_pythonic['Price Per Unit']\
    .str.replace('£---|,','', regex=True).astype(float).to_excel('clean_data_pythonic.xlsx',index=False)